<div class="main-nav">
  <div class="logo">
    {{{docs.admataz-logo.body}}}
  </div>


  {{{docs.main-nav.body}}}
</div>




<div class="content-footer">
  all content and code &copy; adam davis 2019
</div>



</div>