.articles-list {

  >a{
    display: block;
    color:$highlight;
    text-decoration: none;
    &:hover{
      color:$selected;
    }
    }
    
  .article{
    box-shadow: 4px 4px 10px rgba(165, 181, 224, 0.8);
    padding: 8px;
    position: relative;
    background-color: #fff;
    margin-bottom:1em;

    &:hover{
      border-color: #222;
    }
    .datestamp{
      font-size:12px;
      color:#999;
    }
    
    h3{
      margin:4px 0 ;
      
    }
    .blurb{
      font-size: 16px;
      margin: 8px 0;
      padding: 8px;
      font-weight: 100;
    }

    img.thumb{
      width: 100%;
      background-color: #fff;

    }
    .more-link{
      position: absolute;
      bottom: 0; 
      right: 0;
      padding: 4px;
      display: block;
    }
  }

  @media screen and (min-width: 600px) {

  }
}