.articles-list {
  
  .article{
    box-shadow: 4px 4px 10px #333;
    padding: 8px;
    position: relative;

    background-color: #fff;
    margin-bottom:1em;

    &:hover{
      border-color: #222;
    }
    .datestamp{
      font-size:12px;
      color:#999;
    }
    a{
      color:$highlight;
      text-decoration: none;
      }
      a:hover{
        color:$selected;
      }
    h3{
      margin:0 ;
      
    }
    .blurb{
      font-size: 16px;
      margin: 8px 0;
      padding: 0;
      font-weight: normal;
    }

    img.thumb{
      width: 100%;
      background-color: #fff;

    }
    .more-link{
      position: absolute;
      bottom: 0; 
      right: 0;
      padding: 4px;
      display: block;
    }
  }

  @media screen and (min-width: 600px) {

  }
}