.articles-list {
  .article{
    border-bottom: 1px solid #ccc;
    margin-bottom:1em;
    padding-bottom: 1em;
    .datestamp{
      font-size:12px;
      color:#999;
    }
    h3{
      margin:0;
      a{
      color:#000;
      text-decoration: none;
      font-family: "museo-slab",serif;
      }
      a:hover{
        color:$highlight;
      }
    }
    p{
      margin:0;
      font-size:14px;
    }
    
  }

}