// @font-face{
//     font-family: "Junction";
// 	src: url(/assets/fonts/junction/junction-regular.woff) format("woff");
// 	font-weight: normal;
// }

// @font-face{
//     font-family: "Junction";
// 	src: url(/assets/fonts/junction/junction-light.woff) format("woff");
// 	font-weight: lighter;
// }

// @font-face{
//     font-family: "Junction";
// 	src: url(/assets/fonts/junction/junction-bold.woff) format("woff");
// 	font-weight: bold;
// }


// @font-face{
//     font-family: "Raleway";
//     src: url(/assets/fonts/raleway/raleway_thin-webfont.woff) format("woff");
// }


// @font-face{
//     font-family: "Chivo";
// 	src: url(/assets/fonts/chivo/Chivo-Regular.woff) format("woff");
// 	font-weight: normal;
// }


@font-face{
    font-family: "Chivo";
	src: url(/assets/fonts/chivo/Chivo-Light.woff) format("woff");
	font-weight: 200;
}

@font-face{
    font-family: "Chivo";
	src: url(/assets/fonts/chivo/Chivo-Thin.woff) format("woff");
	font-weight: 100;
}

// @font-face {
// 	font-family: "BalooBhai";
// 	src: url(/assets/fonts/BalooBhai/BalooBhai-Regular.ttf);
// }

// @font-face {
// 	font-family: "WendyOne";
// 	src: url(/assets/fonts/Wendy_One/WendyOne-Regular.ttf);
// }

@font-face {
	font-family: "Luckiest Guy";
	src: url(/assets/fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf);
}


// // chivo
// // junction
// // raleway
// // traveling-typewriter
// // work-sans