* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    color: #666;
    margin: 0;
    padding: 0;
    background: url(../assets/images/stereo-graticule2.svg);
    background-size: cover;
    background-attachment: fixed;
    font-family: "Chivo", sans-serif;
    font-size: 18px;
    font-weight: 100;
}

h1,
h2 {
    margin: .5em 0;
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: 100;
}

h1 {
    color: $selected;

    font-size: 28px;
    line-height: 28px;
    padding: 0;
}

p{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0;
    margin: .5em 0;
}

// h2 {
//     color: $selected;
//     font-size: 24px;
//     line-height: 24px;
//     padding: 0;
// }

// h3 {
//     font-weight: normal;
//     font-size: 18px;
//     line-height: 18px;
//     margin: 0;
//     padding: 0;
// }

code {
    color: #333;
    font-weight: bold;
    padding: 2px;
    background-color: rgba(204, 204, 204, 0.5);
}

a {
    text-decoration: underline;
    color: #666;
    font-weight: normal;
}

a:hover {
    color: $selected;
}

// .cf:before,
// .cf:after {
//     content: " ";
//     /* 1 */
//     display: table;
//     /* 2 */
// }

// .cf:after {
//     clear: both;
// }

img{
    max-width: 100%;
}

blockquote{
    // font-size: 28px;
    font-style: oblique;
    // margin: 0;
    // padding: 40px;
    // line-height: 50%;
    // color: rgba(165, 181, 224, 0.8);
    p{
        margin: 0;
        padding: 0;
        
    }
}

