* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    color: #666;
    margin: 0;
    padding: 0;
    background: url(../assets/images/stereo-graticule2.svg);
    background-size: cover;
    background-attachment: fixed;
    font-family: freight-sans-pro, sans-serif;
    font-size: 18px; 
}

h1,
h2 {
    margin: .5em 0;
    background-color: rgba(255, 255, 255, 0.7);

}

h1 {
    color: $selected;

    font-size: 28px;
    line-height: 28px;
    padding: 0;
}

p{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0;
    margin: .5em 0;
}

h2 {
    color: $selected;
    font-size: 24px;
    line-height: 24px;
    padding: 0;
}

h3 {
    
    font-size: 18px;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

code {
    color: #333;
    font-weight: bold;
    padding: 2px;
    background-color: rgba(204, 204, 204, 0.5);
}

a {
    text-decoration: none;
   
    color: $highlight;
    font-weight: bold;
}

a:hover {
    color: #000;
}

.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

img{
    max-width: 100%;
}



// .screenshots {
//     width: 100%;
//     img {
//         max-width: 95%;
//         border: 4px solid #ccc;
//         padding: 4px;
//         margin: 4px;
//     }
// }

// .svg-logo {
//     // width: 80%;
//     // max-height: 180px;
//     // min-height: 40px;
//     max-width: 900px;
//     margin: 120px  auto  0 ;

//     z-index: 20;
//     position:relative;
//     // img {
//     //     width: 100%;
//     //     height: 100%;
//     //     max-height: 100px;
//     //     min-height: 100px;
//     //     min-width: 320px;
//         img{
//             opacity: 0.2
//         }
//     // }
// }