#services-detail {
  margin: 10px 0;
  font-weight: bold;
}

#notes-and-observations {
  border-top: 1px solid #999;
  padding: .5em;
  @media (min-width: 1024px) {
    border-top: none;
    padding:0;
  }
}

.col-2 {
  @media (min-width: 1024px) {
    width:45%;
    margin-left: 5%;
    float: left;
  }
  
}

.col-2.first{
    @media (min-width: 1024px) {
     margin-left:0;
    }
  } 