html.page-home {

  .body-content{
    justify-content: stretch;
    margin: 0 auto;
    h1{
      width: 100%;
    }  
  }

  .logo{
    margin: 190px auto 0;
    padding: 8px;
    opacity: 0.7;
    background: none;
    border: none;
    img{

    max-width: 800px;
    }
  }

  .intro{
    img{ 
      margin: 10%;
      width: 80%;
    }
  }
    @media screen and (min-width: 600px) {   

      .main-nav{
        order: 40;
        border: none;
        flex: 0 1 40px;
      }
      .logo{
        margin: 160px auto 0;
        opacity: 0.6;
      }
      .articles-list{ 
        flex: 1 0 30%;
      }
      .intro{
        flex: 1 0 60%;
        padding: 0 20px;
        // line-height: px;
        img{ 
          margin: 0;
          // width: 48px;
          vertical-align: top;
        }
        .icon img{
          width: 64px;
        }
      }
    }

}
