

.main-nav {
  font-family: "Luckiest Guy";
  width: 100%;
  // align-items: center;
  


  ul {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;

    li {
      flex: 0 0 20%;
      span{
        display: block;
      }
      a {
        text-decoration: none;
        margin: 4px;
        padding: 0;
        display: block;
        border: 1px solid rgba(165, 181, 224, 0.8);
        text-align: center;
        border-radius: 3px;
        background-color: #fff;
        padding-top: 4px; 
      }
      a:hover{
          color: $selected;
      }
      list-style: none;
      flex: 1;
    }
  }

}

%selected {
  color: $selected;
  box-shadow: none;
  border-color: #999;
  border: none;
}

@each $page in code, tools, viz, games {
  .page-#{$page} {
    .main-nav .#{$page} a {
      @extend %selected;
    }
  }
}
