
    @media screen and (min-width: 600px) {
    .site-section{
        &.body-content{
            display: block;
          }
    
          .page-main{
              flex: none;
            }
            .articles-list{
                flex-wrap: wrap;
               display: flex;
            .article{
                flex: 1 0 240px;
                max-width: 300px;
                margin: 8px; 
                box-shadow: none;
                border: 1px solid rgba(165, 181, 224, 0.5);
                
                p{
                    background: transparent;
                }
    
                &:hover{
                    color: $selected;
                    border-color: $selected;
                  }
            }
          }
    }

}